.footer {
  /* position:sticky; */
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem 0rem 1rem;
  background-color: #3d3189;;
  align-items: center;
  /* overflow-y: auto; */
  box-shadow: 0px -2px 8px rgba(0,0,0,0.35);
}

.name-link {
  text-decoration: none;
  display: flex;
  padding: 1rem;
}

.company-name {
  font-size: 30px;
  padding: 0rem 1rem 0rem 1rem;
  font-weight: bolder;
  color: #fada65;
}

.social-media-icons {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.social-media-icon {
  position: relative;
  width: 32px;
  height: 32px;
  color: #465054;
  border-radius: 0.5rem;
}

@media (max-width: 450px) {
  .footer {
    padding: 0rem;
  }

  .company-name {
    font-size: 20px;
    padding: 0rem;
  }

  .social-media-icons {
    padding: 0.7rem 1rem 0.7rem 1rem;
    column-gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .social-media-icons {
    column-gap: 0.5rem;
  }
}