.header {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 0rem 1rem;
  align-items: center;
  background-color: #FFFFFF;
}

.logo-div {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.web-logo {
  width: 140px;
  height: 100px;
}

@media (max-width: 450px) {
  .header {
    padding: 0rem;
  }

  .web-logo {
    width: 100px;  
    height: 70px;
  }
}