.live-quiz-div {
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
  }

  .title-div{
    display: flex;
    justify-content: space-between;
    background-color: #a89ee9;
    color: #070033;
    border-radius: 4px;
  }

.quiz-name-div{
    display: flex;
    align-items: center; 
}

.main-content-div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

@media (max-width: 500px) {
    
    .title-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #070033;
        
    }
    

  }
  .vitthal{
    background-color: aqua;
    height: 90px;
  }
  @media (max-width:720px) {
    .main-content-div{
        display: flex;
        flex-direction: column;
    }
  }

/* style.module.css */

.podium-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  
  .podium-item {
    margin: 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .podium-city {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .podium-rank {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  
  .first {
    background: #a89ee9;
    height: 150px;
    color: #070033;
  }
  
  .second {
    background: #a89ee9;
    height: 100px;
    color: #070033;
    
  }
  
  .third {
    background: #a89ee9;
    height: 75px;
    color: #070033;
  }
  
  .podium-number {
    width: 100%;
    height: auto;
  }
  
