.live-quiz-div {
  background-color: white;
  min-height: 100vh;
  min-width: 100%;
  padding-top: 120px;
}

.title-div{
  display: flex;
  justify-content: space-between;
  color: #3d3189;
  border-radius: 4px;
}

.quiz-name-div{
  display: flex;
  align-items: center; 
}

.main-content-div{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  
  .title-div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
  }
  .live-quiz-div {
    padding-top: 100px;
  }
  .pagination {
    justify-content: center;
  }
}

@media (max-width:720px) {
  .main-content-div{
      display: flex;
      flex-direction: column;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
  column-gap: 20px;
  padding-bottom: 3rem;
}

.rank-1 {
  color: #070033 !important;
  font-weight: bold;
  background-color: #ffe1a6 !important;
}

.rank-2 {

  color: #070033 !important;
  font-weight: bold;
  background-color: #d5d5d5 !important;
}

.rank-3 {
  color: #070033 !important;
  font-weight: bold;
  background-color: #ffd9c3 !important 
}

.main-info-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
  flex-wrap: wrap;
}

.no-data-found {
  color: #3d3189;
}

.th-font {
  font-size: 20px;
  color: #fada65;
}


@media (max-width:983px) {
  .main-info-div{
    display: flex;
    justify-content: space-between;   
  }
}
