.main-component {
  padding: 3rem 1rem 3rem 1rem;
}

.forgot-password-title {
  color: #ED6744;
  font-size: 50px;
  padding-top: 1rem;
}

.form-input {
  border: 1px solid #ED6744;
}

.form-input:focus,
.form-input:hover {
    outline: 1px solid #ED6744;
    border: 1px solid #f33404;
    box-shadow: 0 0 16px 0 rgba(228, 55, 55, 0.18), 0 2px 4px 0 rgba(228, 55, 55, 0.12);
}

.back-to-login-label {
  font-size: 18px;
  cursor: pointer;
}

.forgot-password-button {
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  font-size: 20px;
  background-color: #ED6744;
  color: #FFFFFF;
  border-radius: 0.5rem;
  border: 1px solid #ED6744;
}

.forgot-password-button:hover {
  background-color: #ffffff;
  color: #ed6744;
}

.log-in-button:hover {
  background-color: #ed6744;
  color: #ffffff;
}

.sign-up-button:hover {
  background-color: #ffffff;
  color: #ed6744;
}


@media (max-height: 750px) {
  .main-component {
    padding: 1rem;
  }

  .forgot-password-title {
    padding-top: 0rem;
  }
}