.main-box {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
  /* margin-top: 9rem; */
  padding: 12rem 12rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23FFFFFF' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23fef5ed' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23fceada' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23fae0c8' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23f7d6b7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23F4CCA5' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.profile-photo {
  background-color: #f47d0a !important;
  height: 250px !important;
  width: 250px !important;
}

div.vertical-line-centre {
  border-left: 3px solid #f47d0a;
  position: relative;
  /* left: 50%; */
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.log-in-title {
  color: #f47d0a;
  font-size: 50px;
  padding-top: 6rem;
  text-align: center;
}

.upload-btn {
  padding: 0.5rem 2.1rem;
  background-color: #f47d0a;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
}

.edit-button {
  background-color: #f47d0a !important;
  color: #ffffff !important;
  border: none !important;
}

.edit-button:hover {
  background-color: #485256 !important;
}


@media (max-width: 1199px) {
  .edit-button {
    margin: 0.7rem auto !important;
  }
  .profile-photo {
    width: 170px !important;
    height: 170px !important;
    margin-top: 9rem;
  }
}

@media (max-width: 900px) {
  .main-box {
    padding: 2rem 6rem;
  }
  .profile-photo {
    width: 140px !important;
    height: 140px !important;
  }
}

@media (max-width: 834px) {
  .uplaod-icon-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 814px) {
  .uplaod-icon-text {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-box {
    padding: 2rem 4.5rem;
  }

  .profile-photo {
    width: 110px !important;
    height: 110px !important;
  }
}

@media (max-width: 675px) {
  .main-box {
    padding: 2rem 4.3rem;
  }
}

@media (max-width: 600px) {
  #save-button {
    margin-right: 2rem !important;
  }
}

@media (max-width: 553px) {
  #save-button {
    margin-right: 6rem !important;
  }
}

@media (max-width: 500px) {
  .main-box {
    padding: 2rem 1rem;
  }
}

@media (max-width: 395px) {
  .main-box {
    padding: 2rem 3rem;
  }
}

@media (max-width: 350px) {
  .main-box {
    padding: 2rem 2rem;
  }
}
