.main-div{
  min-height: 100vh !important;
  min-width: 100vw !important;
  box-sizing: border-box !important;
}

.admin-profile{
  background-color: #ffffff;
  min-height: 100vh !important;
}

.main-box {
  margin-top: 8rem;
}

.profile-photo {
  background-color: #fada65 !important;
  height: 250px !important;
  width: 250px !important;
}

/* .profile-photo-div{
  margin-top: 25rem;
} */

/* div.vertical-line-centre {
  border-left: 3px solid #fada65;
  position: relative;
  margin-right: 2rem;
  height: 40rem;
  left: 50%;
} */

.black-font {
  /* / align-self: flex-start; / */
  color: #fada65;
}

/* .error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
} */

.log-in-title {
  color: #fada65;
  font-size: 50px;
  padding-top: 6rem;
  text-align: center;
}

.upload-btn {
  padding: 0.5rem 2.1rem;
  background-color: #fada65 !important;
  color: #000000 !important;
  border-radius: 0.5rem;
  border: none;
}

.upload-btn:hover {
  background-color: #6f41db !important;
  color: #fada65 !important;
  border: 1px solid #fada65 !important;
}

.edit-button {
  background-color: #fada65 !important;
  color: #000000 !important;
  border-radius: 0.5rem !important;
  border: 1px solid #fada65 !important;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem !important;
}

.edit-button:hover {
  background-color: #6f41db !important;
  color: #fada65 !important;
  border: 1px solid #fada65 !important;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem !important;
}

.error-message {
  font-size: 17px;
  color: #fada65;
}

/* .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
} */

.form-label {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
  color: #fada65;
}

.input-field {
  background-color: #fbf5dd !important;
  border: 1px solid #fada65 !important;
  width: 100% !important;
  max-width: 80vw !important;
  padding: 0.5rem;
}

.input-field:focus,
.input-field:hover {
  outline: 1px solid #f0c20c !important;
  border: 1px solid #f0c20c !important;
  box-shadow: 0 0 16px 0 rgba(228, 55, 55, 0.18),
    0 2px 4px 0 rgba(228, 55, 55, 0.12) !important;
}

@media (max-width: 1199px) {

  /* .profile-photo-div {
    margin-top: 25rem !important;
  }
  .edit-button {
    margin: 0.7rem auto !important;
  }
  .main-box {
    flex-direction: column !important;
  }
  .form-group {
    align-items: center !important;
  }
  .input-field {
    max-width: 250px !important;
  } */
}

@media (max-width: 991px){
  .profile-photo {
    width: 170px !important;
    height: 170px !important;
    margin-top: 5rem;
  }
  .profile-photo-div{
    height: 50% !important;
    align-items: center !important;
  }
}
/* @media (max-width: 768px) {
  
  .main-box {
    padding: 2rem 4.5rem;
  }
  .profile-photo {
    width: 110px !important;
    height: 110px !important;
  }
} */

/* @media (max-width: 900px) {
  .main-box {
    padding: 2rem 4rem;
  }
  .profile-photo {
    width: 140px !important;
    height: 140px !important;
  }
}

@media (max-width: 834px) {
  .uplaod-icon-text {
    font-size: 0.7rem;
  }
}

@media (max-width: 814px) {
  .uplaod-icon-text {
    display: none;
  }
}



@media (max-width: 675px) {
  .main-box {
    padding: 2rem 4.3rem;
  }
}

@media (max-width: 600px) {
  #save-button {
    margin-right: 2rem !important;
  }
}

@media (max-width: 553px) {
  #save-button {
    margin-right: 6rem !important;
  }
}

@media (max-width: 500px) {
  .main-box {
    padding: 2rem 1rem;
  }
}

@media (max-width: 395px) {
  .main-box {
    padding: 2rem 3rem;
  }
}

@media (max-width: 350px) {
  .main-box {
    padding: 2rem 2rem;
  }
} */

.admin-label-font {
  color:#3d3189 !important;
}

.admin-error-message {
  font-size: 17px;
  color: #3d3189;
}

.admin-upload-btn {
  padding: 0.5rem 2.1rem;
  background-color: #a89ee9 !important;
  color: #000000 !important;
  border-radius: 0.5rem;
  border: none;
}

.admin-upload-btn:hover {
  background-color: #ffffff !important;
  color: #3d3189 !important;
  border: 1px solid #a89ee9 !important;
}

.admin-edit-button {
  background-color: #a89ee9 !important;
  color: #000000 !important;
  border-radius: 0.5rem !important;
  border: 1px solid #a89ee9 !important;
  padding: 0.6rem 3rem 0.6rem 3rem !important;
}

.admin-edit-button:hover {
  background-color: #ffffff !important;
  color: #3d3189 !important;
  border: 1px solid #a89ee9 !important;
}

.admin-input-field {
  background-color: #ded9fc;
  border: 1px solid #a89ee9 !important;
  width: 100% !important;
  max-width: 80vw !important;
  padding: 0.5rem;
}

.admin-input-field:focus,
.admin-input-field:hover {
  outline: 1px solid #a89ee9 !important;
  border: 1px solid #a89ee9 !important;
  box-shadow: 0 0 16px 0 rgba(228, 55, 55, 0.18),
    0 2px 4px 0 rgba(228, 55, 55, 0.12) !important;
}