.add-quiz-btn{
    padding: 0.9rem 2.1rem;
    font-size: 20px;
    background-color: #F47D0A;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
}

.add-quiz-btn:hover{
    background-color: #F47D0A;
    color: #ffffff;
    box-shadow:1px 1px 3px black;
    transform: scale(1.07);
    transition: all 0.2s;
}

