.logo-image {
  padding-left: 8px;
}

.username {
  color: #fada65;
}
.coin-box:hover{
  box-shadow: inset 1px -1px 14px 0px black;
  cursor: pointer;
  transform: scale(0.98);
}
@media (max-width: 450px) {
  .logo-image {
    height: 3rem;
  }

  .header {
    padding: 0;
  }
  .title-size {
    font-size: 1rem;
  }
  .count-size {
    font-size: 0.93rem !important;
  }
}
