.main-component {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.welcome-message {
  width: 50rem;
  padding: 8rem 0rem 2rem 1rem;
}

.welcome-title {
  font-size: 50px;
  font-weight: bolder;
  color: #ED6744;
}

.welcome-slogan {
  font-size: 40px;
  font-weight: bolder;
  color: #000000;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 4rem 2rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.poster-img {
  width: 400px;
  height: 400px;
}

.get-started-button {
  padding: 0.9rem 1rem 0.9rem 1rem;
  background-color: #ED6744;
  color: #FFFFFF;
  border-radius: 0.5rem;
  border: 1px solid #ED6744;
}

.get-started-button:hover {
  background-color: #ffffff;
  color: #ed6744;
}


@media (max-width: 1300px) {
  .welcome-message {
    padding: 2rem 1rem 2rem 1rem;
  }

  .welcome-title {
    font-size: 40px;
  }

  .welcome-slogan {
    font-size: 30px;
  }

  .poster {
    width: 100rem;
  }

  .poster-img {
    width: 300px;
    height: 300px;
  }
}


@media (max-width: 900px) {
  .poster-img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 600px) {

  .welcome-message {
    padding: 1rem;
  }
  
  .poster {
    padding: 1rem 1rem 5rem 1rem;
  }

  .poster-img {
    width: 200px;
    height: 200px;
  }
}