.full-screen {
  min-height: 100vh;
  backdrop-filter: blur(1.8px);
}
.main-component {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.welcome-message {
  width: 50rem;
  /* padding: 8rem 0rem 2rem 1rem; */
}

.welcome-title {
  font-size: 60px;
  font-weight: bolder;
  color: #fada65;
}

.welcome-slogan {
  font-size: 40px;
  font-weight: bolder;
  color: #FFFFFF;
  padding: 1rem;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 4rem 2rem;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.poster-img {
  width: 550px;
  height: 550px;
}

@media (max-width: 1300px) {
  /* .welcome-message {
    padding: 2rem 1rem 2rem 10rem;
  } */

  .welcome-title {
    font-size: 40px;
  }

  .welcome-slogan {
    font-size: 30px;
  }

  .poster {
    width: 100rem;
  }

  .poster-img {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 900px) {
  /* .welcome-title {
    padding: 2rem 0rem 0rem 2rem;
  }
  
  .welcome-message {
    padding: 2rem 1rem 2rem 9rem;
  } */
  
  .poster-img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 600px) {

  .welcome-title {
    padding-top: 2rem;
  }
  
  .poster {
    padding: 5rem 1rem 5rem 1rem;
  }

  .poster-img {
    width: 340px;
    height: 340px;
  }

  .welcome-title {
    font-size: 35px;
  }

  .welcome-slogan {
    font-size: 25px;
  }
}

@media (max-width: 466px){
  .welcome-title {
    font-size: 30px;
  }

  .welcome-slogan {
    font-size: 20px;
  }

  .poster {
    padding: 4rem 1rem 5rem 1rem;
  }

  .poster-img {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 381px){
  .welcome-title {
    font-size: 27px;
  }

  .welcome-slogan {
    font-size: 17px;
  }

}

@media (max-width: 350px){
  .poster-img{
    width: 280px;
    height: 280px;
  }

  .welcome-title {
    font-size: 23px;
  }

  .welcome-slogan {
    font-size: 13px;
  }
}