.live-quiz-div {
  background-color: #3d3189;
  min-height: 100vh;
}
/* .live-quiz{
  height:100% ;
} */
.timer-header {
  color: #fada65;
}

.spinner {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 100vh;
}