.live-quiz-div {
  background-color: #3d3189;
  min-height: 100vh;
  min-width: 100vw;
}

.timer-header {
  color: #fada65;
}

.spinner {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
  height: 100vh;
}