.main-component {
  padding: 1rem 1rem 3rem 1rem;
}

.sign-up-title {
  color: #ED6744;
  font-size: 50px;
  padding-top: 1rem;
}

.form-input {
  border: 1px solid #ED6744 !important;
}

.form-input:focus,
.form-input:hover {
    outline: 1px solid #ED6744 !important;
    border: 1px solid #f33404 !important;
    box-shadow: 0 0 16px 0 rgba(228, 55, 55, 0.18), 0 2px 4px 0 rgba(228, 55, 55, 0.12) !important;
}

.forgot-password-label,
.sign-up-label {
  font-size: 18px;
  cursor: pointer;
}

.sign-up-button {
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  font-size: 20px;
  background-color: #ED6744;
  color: #FFFFFF;
  border-radius: 0.5rem;
  border: 1px solid #ED6744;
}

.disabled-button{
  background-color: #e0e0e0;
  color: black;
  border: 1px solid #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.sign-up-button:hover {
  background-color: #ffffff;
  color: #ed6744;
}

.black-font{
  color: #000000;
}


@media (max-height: 750px) {
  .main-component {
    padding: 1rem;
  }

  .sign-up-title {
    padding-top: 0rem;
  }
}